body {
    padding-top: 80px;

  }
  h2{
    text-align: center;
   
  }

  .show-cart li {
    display: flex;
  

  }
  .card {
    margin-bottom: 20px;
   
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }
.container {
width: 1440px;
max-width: 100%;

}
